<main class='dashboard-page'>
  <section class='dash-panel'>
    <h1>Welcome <%= current_user.username %></h1>
    <p><%= link_to "Update Username", "/users/#{current_user.id}/edit" %></p>
    <% unless current_user.profile %>
      <p><%= link_to "Add Profile", "/users/#{current_user.id}/profile/new" %></p>
    <% else %>
      <p><%= link_to "Update Profile", "/users/#{current_user.id}/profile/edit" %></p>
    <% end %>
    <p>Number of Show/Manga Reminders: <%= current_user.reminders.count %></p>
    <% if current_user.security_question %>
      <p>Security Question is Set<p>
    <% else %>
      <p>Security Question is Not Set<p>
      <p><%= link_to "Click here to Add", "/users/#{current_user.id}/security_questions/new" %></p>
    <% end %>
  </section>

  <% if current_user.profile %>
    <section class='dash-panel'>
      <p> Name: <%= current_user.profile.first_name %> <%= current_user.profile.last_name %></p>
      <p> Age: <%= current_user.profile.age %></p>
      <p> Location: <%= current_user.profile.location %></p>
    </section>
  <% end %>

</main>
