<!DOCTYPE html>
<html>
  <head>
    <title>TheSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= image_tag("Oki.jpg", class: "bg-img") %>
    <header>
      <nav>
        <% if current_user %>
          <p><%= link_to "Dashboard", "/dashboard", class: "btn" %></p>
          <p><%= link_to "Reminders", "/reminders", class: "btn" %></p>
          <p><%= link_to "Forum", "/forum", class: "btn" %></p>
          <% if current_admin? %>
            <p><%= link_to "Admin Dashboard", "/admin", class: "btn" %></p>
          <% end %>
          <p><%= link_to "Log Out", "/logout", class: "link-btn"%></p>
        <% else %>
          <p><%= link_to "Login", "/login", class: "link-btn"%></p>
        <% end %>
      </nav>
    </header>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
